<!DOCTYPE html>
<!--[if lte IE 7]>
<html class="ie7"><![endif]-->
<!--[if IE 8]>
<html class="ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html ng-app="myApp">
<!--<![endif]-->
<head>
  

    <!--#include virtual="/partials/header.shtml" -->
    <title>Photo Bucket</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="viewport" content="width=1024">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/content/styles/css/normalize.css" />
    <link rel="stylesheet" href="/content/styles/css/icons.css" />
    <link rel="stylesheet" href="/content/styles/css/foundation.css" />
    <link rel="stylesheet" href="/content/styles/css/styles.css" />


    <!--[if lt IE 9]>
    <script src="/scripts/html5shim.js" type="text/javascript"></script>
    <![endif]-->

</head>
<body>
    <div class="page">

        <header role="banner" class="page-header">
            <div class="row">
                <div class="large-3 columns">
                    <a href="/" class="logo">
                        <img src="/content/images/logo.png" alt="Photo Bucket">
                    </a>
                </div>
                <div class="large-5 columns">
                    <!--#include virtual="/partials/home-page/heading.shtml" -->
                    <nav class="page-nav">
                        <a href="#/popular" ng-class="isPressed('count')" ng-click="searchM('count')">Popular</a>
                        <a href="#/top" ng-class="isPressed('rate')" ng-click="searchM('rate')">Most Rated</a>
                        <a href="#/fresh" ng-class="isPressed('date')" ng-click="searchM('date')">Fresh</a>
                    </nav>
                </div>
                <div class="large-4 columns">
                    <div class="row">
                        <div class="large-7 columns">
                            <form method="get" action="/" class="search-form">
                                <input type="search" class="search-field" name="search" placeholder="search" title="search">
                            </form>
                        </div>
                        <div class="large-5 columns">
                            <nav class="user-menu">
                                <a href="/settings.html"><span class="icon-cog2"></span>Settings</a>
                                <a href="/settings.html#/favorites.html"><span class="icon-heart"></span>Favorites {{favoritesCount}}</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main role="main" class="page-content" ng-controller="allPhotosController">
            <div class="row">
                <div class="large-3 columns">
                    <aside class="page-sidebar">
                        <!--#include virtual="/partials/home-page/sidebar.shtml" -->

                        <h3>Categories</h3>
                        <ul class="side-menu">
                            <div ng-controller="categoriesController">

                                <li ng-repeat="categoryItem in categories | filter:active" categoryitem-directive></li>

                            </div>
                        </ul>
                    </aside>
                </div>

                <!--

             <div class="large-9 columns content" ng-controller="allPhotosController">
                <div class="large-4 columns" ng-repeat="photo in photos" main-item-directive>
                </div>

            </div>
                -->
                <div class="large-9 columns content">
                    <!--#include virtual="/partials/home-page/content.shtml" -->
                    <div class="large-4 columns" ng-repeat="photo in photos" main-item-directive>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <footer role="contentinfo" class="page-footer">
        <div class="row">
            <div class="large-12 columns">
                <h6>
                    &copy; Copyright 2014 | <strong>Photo Bucket</strong>
                </h6>
            </div>
        </div>
    </footer>

    <!--#include virtual="/modal-templates/modal-template-photo.shtml" -->
    <script type="text/html" id="modal-photo">
        <div class="modal modal-photo">
            <div class="row">
                <div class="modal-content" data-modal-control="content">
                    <!-- Content -->
                </div>
            </div>

        </div>
    </script>

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular/angular-route.min.js"></script>

    <script src="libs/jquery/jquery-1.11.0.min.js"></script>
    <script src="libs/jquery/jquery.modal.js"></script>

    <script src="libs/angular/angular-file-upload.min.js"></script>

    <script src="app.js"></script>
    <script src="controllers/photosController.js"></script>
    <script src="controllers/allPhotosController.js"></script>
    <script src="directives/mainItemDirective.js"></script>
    <script src="directives/categoryitemDirective.js"></script>
    <script src="directives/modalFavoritesEdit.js"></script>
    <script src="services/testService.js"></script>
    <script src="services/testService.js"></script>
    <script src="services/tagsService.js"></script>
    <script src="services/photosService.js"></script>
    <script src="controllers/categoriesController.js"></script>

</body>
</html>