﻿<!DOCTYPE html>
<!--[if lte IE 7]>
<html class="ie7"><![endif]-->
<!--[if IE 8]>
<html class="ie8"><![endif]-->
<!--[if IE 9]>
<html class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html ng-app="myApp">
<!--<![endif]-->
<head>
    <!--#include virtual="/partials/header.shtml" -->
    <title>Photo Bucket</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="viewport" content="width=1024">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/content/styles/css/normalize.css" />
    <link rel="stylesheet" href="/content/styles/css/icons.css" />
    <link rel="stylesheet" href="/content/styles/css/foundation.css" />
    <link rel="stylesheet" href="/content/styles/css/styles.css" />



</head>
<body>
    <div class="page">

        <header role="banner" class="page-header">
            <div class="row">
                <div class="large-3 columns">
                    <a href="/" class="logo">
                        <img src="/content/images/logo.png" alt="Photo Bucket">
                    </a>
                </div>
                <div class="large-5 columns">
                    <!--#include virtual="/partials/categories/heading.shtml" -->
                    <h1>{{title}}</h1>
                </div>
                <div class="large-4 columns">
                    <div class="row">
                        <div class="large-7 columns">
                            <form method="get" action="/" class="search-form">
                                <input type="search" class="search-field" name="search" placeholder="search" title="search">
                            </form>
                        </div>
                        <div class="large-5 columns">
                            <nav class="user-menu">
                                <a href="/settings.html#/categories.html"><span class="icon-cog2"></span>Settings</a>
                                <a href="/settings.html#/favorites.html"><span class="icon-heart"></span>Favorites {{favoritesLength}}</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main role="main" class="page-content">
            <div class="row">
                <div class="large-3 columns">
                    <aside class="page-sidebar">
                        <!--#include virtual="/partials/categories/sidebar.shtml" -->
                        <ul ng-repeat="menu in menus" class="side-menu settings">

                            <li ng-if="menu.name === title"><a href="settings.html#/{{menu.name|lowercase}}.html" class="active">{{menu.name}} <span class="{{menu.image}}"></span></a></li>
                            <li ng-if="menu.name !== title"><a href="settings.html#/{{menu.name|lowercase}}.html">{{menu.name}} <span class="{{menu.image}}"></span></a></li>
</ul>
                        <!--
                        <span class="icon-heart">
                            <li><a href="settings.html#/categories.html">Categories <span class="icon-drawer"></span></a></a></li>
                            <li><a href="settings.html#/photos.html">Photos <span class="icon-images"></span></a></li>
                            <li><a href="settings.html#/tags.html">Tags <span class="icon-tag"></span></a></li>-->
</aside>
                </div>
                <div class="large-9 columns content">
                    <!--#include virtual="/partials/categories/content.shtml" -->
                    <div ng-view>

                    </div>

                </div>
            </div>
        </main>

    </div>

    <footer role="contentinfo" class="page-footer">
        <div class="row">
            <div class="large-12 columns">
                <h6>
                    &copy; Copyright 2014 | <strong>Photo Bucket</strong>
                </h6>
            </div>
        </div>
    </footer>

    <!--#include virtual="/modal-templates/modal-template-edit.shtml" -->

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular/angular-route.min.js"></script>


    <script src="libs/jquery/jquery-1.11.0.min.js"></script>
    <script src="libs/jquery/jquery.modal.js"></script>

    <script src="libs/angular/angular-file-upload.min.js"></script>

    <script src="myAppSettings.js"></script>
    <script src="directives/checklistModel.js"></script>
    <script src="controllers/categoriesController.js"></script>
    <script src="controllers/tagsController.js"></script>
    <script src="controllers/favoritesController.js"></script>
    <script src="services/favoritesServer.js"></script>
    <script src="controllers/photosController.js"></script>
    <script src="services/testService.js"></script>
    <script src="services/tagsService.js"></script>
    <script src="services/photosService.js"></script>
    <script src="directives/categoryItemDirectiveEdit.js"></script>
    <script src="directives/favoritesItemDirective.js"></script>
    <script src="directives/tagsDirective.js"></script>
    <script src="directives/photosDirective.js"></script>
    <script src="directives/modalEditData.js"></script>
    <script src="directives/modalCreateImage.js"></script>
    <script src="directives/modalFavoritesEdit.js"></script>
    <script src="directives/downloadDirective.js"></script>

    <script type="text/html" id="modal-edit-data">
        <div class="modal modal-edit">
            <div class="modal-header row">
                <h3 data-modal-control="title"></h3>
                <a class="btn-close" data-modal-control="close">
                    <span class="icon-close"></span>
                </a>
            </div>
            <div class="row">
                <div class="modal-content" data-modal-control="content">
                </div>
            </div>

        </div>
    </script>

    <script type="text/html" id="modal-photo">
        <div class="modal modal-photo">
            <div class="row">
                <div class="modal-content" data-modal-control="content">
                    <!-- Content -->
                </div>
            </div>

        </div>
    </script>


</body>
</html>