@import "foundation/components/global";
body{
  background: $color-grey;
  min-width: 1024px;
  font-family: $font-raleway;
  font-weight: $font-weight-normal;
  color: $color-black;
}
h1,h2,h3,h4,h5,h6{
  font-family: $font-raleway;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
}
h3{
  font-size: rem-calc(18px);
}
a{
  color: $color-green;
  text-decoration: none;
  @include transition(color, 0.2s);
  &:hover{
    color: $color-green-darker;
  }
}
.btn{
  height: 34px;
  background: $color-green;
  line-height: 34px;
  vertical-align: middle;
  display: inline-block;
  padding: 0 15px;
  font-size: rem-calc(14px);
  font-weight: $font-weight-semibold;
  letter-spacing: 1px;
  color: #ffffff;
  border: none;
  @include transition(background, 0.2s);
  span{
    font-size: rem-calc(20px);
    line-height: 34px;
    vertical-align: middle;
  }
  &:hover{
    background: $color-green-darker;
    color: #ffffff;
  }
}
.btn-close{
  width: 34px;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  border-radius: 100%;
  border: $color-black solid 1px;
  background: $color-black;
  color: #ffffff;
  span{
    font-size: rem-calc(16px);
    color: #ffffff;
    line-height: 30px;
  }
  @include transition(all, 0.2s);
  &:hover{
    border-color: $color-green;
    color: #ffffff;
    background: $color-green;
  }
}
.btn-load{
  background: #ffffff;
  color: $color-green;
  width: 100%;
  text-align: center;
  @include transition(all, 0.2s);
  &:hover{
    background: $color-green;
  }
}

.page{
  min-height: 100%;
}
.page-header{
  background: #fff;
  height: 80px;
  h1{
    margin: 0;
    font-size: rem-calc(18px);
    line-height: 80px;
    vertical-align: middle;
    letter-spacing: 1px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $color-green;
  }
}
.logo{
  display: block;
  width: 82.5%;
  height: 80px;
  background: $color-black;
  @include transition(background, 0.2s);
  img{
    display: block;
    margin: 0 ($margin-gutter * 2) 0;
    padding: 15px 0 0;
  }
  &:hover{
    background: #000000;
  }
}
.page-nav{
  margin: 0 0 0 -5%;
  width: 112.8%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  font-size: rem-calc(18px);
  letter-spacing: 1px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  @include clearfix();
  a{
    display: block;
    height: 100%;
    float: left;
    padding: 0 20px;
    color: $color-black;
    &:hover, &.active{
      color: $color-green;
    }
  }
}
.user-menu{
  margin: 17px 0 0 10px ;
  font-size: rem-calc(14px);
  line-height: 1.5em;
  span{
    margin: 0 10px 0 0;
    color: $color-black;
    &.icon-heart{
      color: $color-red;
    }
  }
}
.search-form{
  margin: 20px 0 0 (-$margin-gutter);
  width: 105%;
  padding: 0 20px 0 0;
  .search-field{
    width: 100%;
    padding: 0 10px;
    height: 37px;
    background: $color-grey;
    border-radius: 5px;
    border: none;
    margin: 0;
    box-shadow: none;
    -webkit-appearance: none;
  }
  input[type="search"]:focus{
    background: $color-grey;
    border-color: none;
    outline: none;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.page-content{
  padding: 0 0 90px;
}
.content{
  margin-top: 30px;
}

//Module Thumbnail
.thumb-block{
  background: #ffffff;
  height: 246px;
  margin-bottom: 10px;
  position: relative;
  .link-thumb{
    display: block;
    height: 100%;
    color: $color-black;
    img{
      transform:scale(1);
      -ms-transform:scale(1); /* IE 9 */
      -moz-transform:scale(1); /* Firefox */
      -webkit-transform:scale(1); /* Safari and Chrome */
      -o-transform:scale(1); /* Opera */
      @include transition(all, 0.2s);
    }
    &:hover{
      img{
        transform:scale(0.98);
        -ms-transform:scale(0.98); /* IE 9 */
        -moz-transform:scale(0.98); /* Firefox */
        -webkit-transform:scale(0.98); /* Safari and Chrome */
        -o-transform:scale(0.98); /* Opera */
      }
      .thumb:after{
        box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.7);
      }
    }
  }
  .thumb{
    height: 180px;
    background: $color-black;
    padding: 1px 0 0;
    overflow: hidden;
    position: relative;
    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      @include transition(all, 0.2s);
    }
  }
  figure{
    margin-top: -160px;
    margin-left: -52px;
    outline: #008cba solid 1px;
    text-align: center;
    width: 350px;
    height: 500px;
    line-height: 500px;
    vertical-align: middle;
    img{
      min-height: 200px;
    }
  }
  .info{
    padding: 15px 15px 0;
  }
  h4{
    margin: 0;
    padding: 0;
    font-weight: $font-weight-normal;
    font-size: rem-calc(14px);
    line-height: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .votes{
    margin-top: 7px;
  }
  .fav{
    position: absolute;
    right: 12px;
    bottom: 8px;
    color: #C7D1CE;
    &.marked{
      color: $color-red;
    }
  }
}

//Module Votes
.votes{
  @include clearfix();
  span{
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    overflow: hidden;
    margin: 0 2px 0 0;
    background: $color-grey;
  }
  &.count-1{
    span{
      background: $color-green;
    }
    span + span{
      background: $color-grey;
    }
  }
  &.count-2{
    span{
      background: $color-green;
    }
    span + span + span{
      background: $color-grey;
    }
  }
  &.count-3{
    span{
      background: $color-green;
    }
    span + span + span + span{
      background: $color-grey;
    }
  }
  &.count-4{
    span{
      background: $color-green;
    }
    span + span + span + span + span{
      background: $color-grey;
    }
  }
  &.count-5{
    span{
      background: $color-green;
    }
  }
}

.page-sidebar{
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  padding: 35px ($margin-gutter * 2) ($margin-gutter * 2);
  width: 82.5%;
  background: $color-green;
  color: #ffffff;
  h3{
    margin: 0 0 15px;
    text-transform: uppercase;
  }
  a{
    color: #fff;
    &:hover{
      color: #022B29;
    }
  }
}
ul.side-menu{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    padding-bottom: 15px;
    a{
      display: block;
      &.active{
        color: $color-black;
      }
    }
  }
}


.page-footer{
  height: 90px;
  margin: -90px 0 0;
  border-bottom: $color-green solid 5px;
  .columns{
    height: 90px;
  }
  h6{
    margin: 0;
    padding: 0 60px 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 47px;
    line-height: 47px;
    vertical-align: middle;
    font-size: rem-calc(16px);
    font-weight: $font-weight-normal;
    background: url($image-footer-logo) 100% 100% no-repeat;
    strong{
      font-weight: $font-weight-bold;
    }
  }
}

//Module Photo Modal
.modal-on{
  body{
    overflow: hidden;
  }
  overflow: hidden;
}
.modal{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #ffffff;
  z-index: 999;
}
.modal-photo{
  .columns{
    height: 57px;
    margin-top: 25px;
    padding: 0 20px;
    border-bottom: $color-grey-border solid 1px;
    border-right: $color-grey-border solid 1px;
    overflow: hidden;
  }
  .modal-logo{
    width: 90px;
    height: 82px;
    margin: 0;
    border: none;
    text-align: center;
    padding: 0;
    a{
      display: block;
      height: 100%;
      background: $color-black;
      @include transition(background, 0.2s);
      &:hover{
        background: $color-green;
      }
    }
    img{
      margin: 21px 0 0;
    }

  }
  .modal-title{
    width: 330px;
    padding: 0;
    margin-left: 20px;
    h3{
      margin: 0 15px 0 0;
      overflow: hidden;
      font-size: rem-calc(18px);
      font-weight: $font-weight-semibold;
      line-height: 1.0em;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .modal-tags{
      margin: 3px 15px 0 0;
      overflow: hidden;
      height: 29px;
      font-size: rem-calc(13px);
      line-height: 1.1em;
      a{
        margin-right: 5px;
      }
    }
  }
  .modal-vote{
    width: 190px;
    overflow: visible;
    @include clearfix();
    .select-vote{
      display: block;
      float: left;
      width: 64px;
      .select{
        display: block;
        height: 0;
        overflow: hidden;
        @include transition(height, 0.2s);
        a{
          display: block;
          height: 34px;
          background: #39B5AF;
          color: #ffffff;
          font-size: rem-calc(14px);
          line-height: 34px;
          vertical-align: middle;
          font-weight: $font-weight-semibold;
          text-align: center;
          @include transition(background, 0.2s);
          &:hover{
            background: $color-green-darker;
          }
        }
        a+a{background: #57C9C0;}
        a+a+a{background: #75D8CF}
        a+a+a+a{background: #98E5DC}
        a+a+a+a+a{background: #BEF4EC;}
      }
      &:hover .select{
        height: 170px;
      }
    }
    .btn-vote{
      display: block;
      height: 34px;
      background: $color-green;
      color: #ffffff;
      font-size: rem-calc(14px);
      line-height: 34px;
      vertical-align: middle;
      font-weight: $font-weight-semibold;
      text-align: center;
      cursor: pointer;
      @include transition(background, 0.2s);
      &:hover{
        background: $color-green-darker;
      }
    }
    .votes-count{
      float: left;
      margin-left: 20px;
      .votes{
        margin-bottom: 8px;
      }
      > span{
        color: $color-green;
        font-size: rem-calc(14px);
      }
    }
  }
  .modal-buttons{
    width: 220px;
    .btn-fav{
      width: 34px;
      padding: 0;
      background: $color-grey-darker;
      text-align: center;
      margin-right: 5px;
      &.marked{
        background: $color-red;
        &:hover{
        background: $color-red-darker;
        }
      }
      &:hover{
        background: $color-black;
      }
    }
    .btn-download{
      span{
        margin-right: 4px;
        display: inline-block;
        margin-top: -3px;
      }
    }
  }
  .modal-navigation{
    width: 120px;
    @include clearfix();
    .btn-prev, .btn-next{
      width: 34px;
      line-height: 30px;
      overflow: hidden;
      padding: 0;
      text-align: center;
      border-radius: 100%;
      border: $color-black solid 1px;
      background: #ffffff;
      color: $color-black;
      span{
        color: $color-black;
        line-height: 30px;
        @include transition(color, 0.2s);
      }
      @include transition(border, 0.2s);
      &:hover{
        border-color: $color-green;
        color: $color-green;
        span{
          color: $color-green;
        }
      }
    }
    .btn-prev{
      float: left;
    }
    .btn-next{
      float: right;
    }
  }
  .modal-close{
    border-right: none;
    width: 54px;
    padding-right: 0;
    .btn-prev{
      float: left;
    }
    .btn-next{
      float: right;
    }
  }
  .modal-content{
    margin: 35px 0 0;
    text-align: center;
  }
}

//Module Edit Modal
.modal-edit{
  left: 50%;
  top: 10%;
  width: 500px;
  height: auto;
  margin-left: -250px;
  .modal-header{
    background: $color-black;
    height: 50px;
    padding: 0 35px;
    color: #ffffff;
    h3{
      margin: 0;
      line-height: 50px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .btn-close{
      position: absolute;
      right: 10px;
      top: 8px;
      background: $color-green;
      &:hover{
        background: #ffffff;
        border-color: #ffffff;
        span{
          color: $color-green;
        }
      }
    }
  }
  .modal-content{
    padding: 35px;
  }
}

.controls{
  margin-top:-10px !important;
  margin-bottom: 20px !important;
  .btn-plus, .btn-remove, .btn-download{
    span{
      font-size: rem-calc(14px);
    }
  }
  .btn-remove{
    background: $color-black;
    margin-right: 10px;
  }
  .large-2-5{
    width: 26.6%;
    padding-right: 15px;
  }
  .large-1-5{
    width: 20%;
  }
}

//Module Table Grid
.grid{
  width: 100%;
  border-top: $color-grey-border solid 1px;
  td{
    border-bottom: $color-grey-border solid 1px;
  }
  .td-controls{
    width: 100px;
    text-align: right;
  }
  .td-count{
    width: 75px;
  }
  .td-eye{
    width: 50px;
    a{
      color: $color-grey-border;
      &.active{
        color: $color-green;
      }
    }
    span{
      font-size: rem-calc(22px);
    }
  }
  .td-title{
    a{
      margin-right: 5px;
    }
  }
  .td-categories{
    width: 150px;
  }
  .td-img{
    width: 93px;
    a{
      display: block;
      border: #ffffff solid 3px;
      max-height: 51px;
      overflow: hidden;
      img{
        display: block;
        width: 83px;
      }
    }
  }
}
.tags-list{
  padding: 8px 0px 15px;
  border-top: $color-grey-border solid 1px;
  margin: 5px 0px 0 !important;
}

//Module Forms
form{
  margin: 0;
}
.field-wrapper{
  position: relative;
  margin:5px 0 15px;
}
label{
  font-weight: $font-weight-normal;
  color: #9C9C9C;
  font-size: rem-calc(14px);
}
.text-field{
  height: 34px;
  line-height: 1.0em;
  border: $color-grey-border solid 1px;
  background: #ffffff;
  width: 100%;
  padding: 7px 15px;
  &:focus{
    border-color:#ffffff;
    box-shadow: none;
    outline: $color-green solid 1px;
  }
}
input[type="checkbox"]{
  vertical-align: middle;
  margin: 0 0.5em 2px 0;
}
.selectbox{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  width: 100%;
  font-size: rem-calc(16px);
  text-align: left;
  vertical-align: middle;
  color: $color-black;
  line-height: 28px;
  height: 28px;
  border: 1px solid #ffffff;
  padding: 3px 5px;
  box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  -moz-appearance: button;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background: #ffffff;
  background: url('../images/icn-selectarrow.png') no-repeat 100% 50%, -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: url('../images/icn-selectarrow.png') no-repeat 100% 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
  background: url('../images/icn-selectarrow.png') no-repeat 100% 50%, -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: url('../images/icn-selectarrow.png') no-repeat 100% 50%, -o-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: url('../images/icn-selectarrow.png') no-repeat 100% 50%, -ms-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: url('../images/icn-selectarrow.png') no-repeat 100% 50%, linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  &:focus{
    border-color:$color-green;
    box-shadow: none;
    outline: none;
  }
}
.select-wrapper{
  padding-right: 12px;
  .selectbox{
    border-color: $color-grey-border;
    &:focus{
      border-color:$color-green;
      box-shadow: none;
      outline: none;
    }

  }
}

//Section settings
ul.side-menu.settings{
  span{
    float: right;
    font-size: rem-calc(16px);
  }
}
.fav-list{
 .thumb-block{
   height: 220px;
   outline: $color-grey solid 3px;
   @include transition(all, 0.2s);
   .info{
     padding-top: 10px;
   }
   &.selected{
     outline: $color-red solid 3px;
     background: $color-red;
     h4{
       color: #ffffff;
     }
   }
 }

}
.fav-controls{
  line-height: 34px;
  vertical-align: middle;
  font-size: rem-calc(14px);
}
.fav-menu{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background: $color-black;
  padding: 5px 10px;
  font-size: rem-calc(13px);
  input[type="checkbox"]{
    margin: 0;
  }
  a{
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

