﻿<td class="td-eye">
    <a ng-click="change(categoryItem)" class="js-activate-category" ng-class="isActive(categoryItem.active)">
        <span class="icon-eye"></span>
    </a>
</td>

<td class="td-title">
    {{categoryItem.name}}
</td>
<td class="td-count">
    {{categoryItem.images.length}}
</td>


<td class="td-controls">
    <a item-data="categoryItem" save-function="save" href="/partials/categories/edit-category-modal.shtml" modal-edit-data="{title: 'Edit Category'}">Edit</a> &frasl;
    <a class="js-delete" ng-click="deleteF(categoryItem)">Delete</a>

</td>
