﻿
<div class="thumb-block" ng-class="isSelected(photo._id)">
    <!-- Thumbnail Start -->
    <label class="fav-menu">
        <input type="checkbox" ng-checked="removeable.indexOf(photo._id) != -1" ng-click="addToRemove(photo._id)" name="favselect" class="js-fav-check">
        <a class="js-remove-fav" ng-click="remove([photo._id])">Remove</a>
    </label>
    <!-- points="points" vote-function="addVote" avg-function="avgFunction" -->
    <a href="partials/favorites/edit-favorites-modal.shtml" item-info="photo" list="favorites" index="$index" add-vote="addVote" add-to-favorites="addToFavorites" class="link-thumb" modal-favorites-edit="{title: 'Photo title'}">
        <div class="thumb">
            <figure>
                <img ng-src="{{photo.link}}" alt="{{photo.name}}">
            </figure>
        </div>
        <div class="info">
            <h4>{{photo.title}}</h4>
        </div>
    </a>
    <!-- Thumbnail End -->
</div>