﻿<div class="large-12 columns">

    <!-- Thumbnail Start -->
    <div class="thumb-block">
        <a class="link-thumb">
            <div class="thumb" href="partials/favorites/edit-favorites-modal.shtml" add-to-favorites="addToFavorites" item-info=" photo" list="photos" index="$index" add-vote="addVote" modal-favorites-edit="{title: 'Photo title'}">
                <!---->
                <figure>
                    <img ng-src="{{photo.link}}" alt="{{photo.name}}">
                </figure>
            </div>
            <div class="info">
                <h4>{{photo.title}}</h4>
                <div class="votes" ng-class="'count-'+avgFunction(photo.votes)">
                    <span ng-repeat="point in points"></span>
                </div>

                <div class="fav" ng-class="isFavorite(photo.favorites)">
                    <span ng-click="addToFavorites(photo)" class="icon-heart"></span>
                </div>
            </div>
        </a>
    </div>
    <!-- Thumbnail End -->

</div>