﻿<tr>
    <td ng-if="photo.active" class="td-eye">
        <a class="active js-activate-category" ng-click="change(photo)">
            <span class="icon-eye"></span>
        </a>
    </td>
    <td ng-if="!photo.active" class="td-eye" ng-click="change(photo)">
        <a class="js-activate-category">
            <span class="icon-eye"></span>
        </a>
    </td>

    <td class="td-img">
        <a>
            <img ng-src="{{photo.link}}" alt="Photo title">
        </a>
    </td>
    <td class="td-title">
        {{photo.title}}
        <div>
            <a href="#/tags.html" ng-repeat="item in photo.tags">
                #{{item.name}}
            </a> 
        </div>
    </td>
    <td class="td-categories">
        <a href="#/categories.html"  ng-repeat="item in photo.categories">
            {{item.name}};
        </a>
    </td>
    <td class="td-controls">
        <a href="/partials/photos/edit-photo-modal.shtml" save-function="save"
           categories-data="categories" item = "photo" tags-data="tags" modal-create-image="{title: 'Edit Photo', templateId: 'modal-edit'}">Edit</a> &frasl;
        <a class="js-delete" ng-click="deleteF(photo)">Delete</a>
    </td>
</tr>