﻿<td class="td-title">
    #{{tag.name}}
</td>
<td class="td-controls">
    <a item-data="tag" save-function="save" href="/partials/tags/edit-tags-modal.shtml" modal-edit-data="{title: 'Edit Tag', templateId: 'modal-edit-data'}">Edit</a> &frasl;
    <a class="js-delete" ng-click="deleteF(tag)">Delete</a>
</td>