/* line 259, ../scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.1.0/"; }

/* line 264, ../scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em; }

/* line 269, ../scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

/* line 274, ../scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

/* line 279, ../scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

/* line 284, ../scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

/* line 289, ../scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false; }

/* line 294, ../scss/foundation/components/_global.scss */
html, body {
  height: 100%; }

/* line 301, ../scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 306, ../scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%; }

/* line 309, ../scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

/* line 322, ../scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer; }

/* line 327, ../scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto; }

/* line 330, ../scss/foundation/components/_global.scss */
object,
embed {
  height: 100%; }

/* line 331, ../scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic; }

/* line 337, ../scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

/* line 342, ../scss/foundation/components/_global.scss */
.left {
  float: left !important; }

/* line 343, ../scss/foundation/components/_global.scss */
.right {
  float: right !important; }

/* line 344, ../scss/foundation/components/_global.scss */
.clearfix {
  *zoom: 1; }
  /* line 130, ../scss/foundation/components/_global.scss */
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  /* line 131, ../scss/foundation/components/_global.scss */
  .clearfix:after {
    clear: both; }

/* line 345, ../scss/foundation/components/_global.scss */
.hide {
  display: none; }

/* line 351, ../scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 354, ../scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle; }

/* line 364, ../scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px; }

/* line 367, ../scss/foundation/components/_global.scss */
select {
  width: 100%; }

/* line 2, ../scss/_global.scss */
body {
  background: #efefef;
  min-width: 1024px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #333333; }

/* line 9, ../scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 1px; }

/* line 14, ../scss/_global.scss */
h3 {
  font-size: 1.125rem; }

/* line 17, ../scss/_global.scss */
a {
  color: #20a5a1;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in; }
  /* line 21, ../scss/_global.scss */
  a:hover {
    color: #00726c; }

/* line 25, ../scss/_global.scss */
.btn {
  height: 34px;
  background: #20a5a1;
  line-height: 34px;
  vertical-align: middle;
  display: inline-block;
  padding: 0 15px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  border: none;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  /* line 38, ../scss/_global.scss */
  .btn span {
    font-size: 1.25rem;
    line-height: 34px;
    vertical-align: middle; }
  /* line 43, ../scss/_global.scss */
  .btn:hover {
    background: #00726c;
    color: #ffffff; }

/* line 48, ../scss/_global.scss */
.btn-close {
  width: 34px;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  border-radius: 100%;
  border: #333333 solid 1px;
  background: #333333;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  /* line 58, ../scss/_global.scss */
  .btn-close span {
    font-size: 1rem;
    color: #ffffff;
    line-height: 30px; }
  /* line 64, ../scss/_global.scss */
  .btn-close:hover {
    border-color: #20a5a1;
    color: #ffffff;
    background: #20a5a1; }

/* line 70, ../scss/_global.scss */
.btn-load {
  background: #ffffff;
  color: #20a5a1;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  /* line 76, ../scss/_global.scss */
  .btn-load:hover {
    background: #20a5a1; }

/* line 81, ../scss/_global.scss */
.page {
  min-height: 100%; }

/* line 84, ../scss/_global.scss */
.page-header {
  background: #fff;
  height: 80px; }
  /* line 87, ../scss/_global.scss */
  .page-header h1 {
    margin: 0;
    font-size: 1.125rem;
    line-height: 80px;
    vertical-align: middle;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
    color: #20a5a1; }

/* line 98, ../scss/_global.scss */
.logo {
  display: block;
  width: 82.5%;
  height: 80px;
  background: #333333;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  /* line 104, ../scss/_global.scss */
  .logo img {
    display: block;
    margin: 0 20px 0;
    padding: 15px 0 0; }
  /* line 109, ../scss/_global.scss */
  .logo:hover {
    background: #000000; }

/* line 113, ../scss/_global.scss */
.page-nav {
  margin: 0 0 0 -5%;
  width: 112.8%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
  *zoom: 1; }
  /* line 130, ../scss/foundation/components/_global.scss */
  .page-nav:before, .page-nav:after {
    content: " ";
    display: table; }
  /* line 131, ../scss/foundation/components/_global.scss */
  .page-nav:after {
    clear: both; }
  /* line 124, ../scss/_global.scss */
  .page-nav a {
    display: block;
    height: 100%;
    float: left;
    padding: 0 20px;
    color: #333333; }
    /* line 130, ../scss/_global.scss */
    .page-nav a:hover, .page-nav a.active {
      color: #20a5a1; }

/* line 135, ../scss/_global.scss */
.user-menu {
  margin: 17px 0 0 10px;
  font-size: 0.875rem;
  line-height: 1.5em; }
  /* line 139, ../scss/_global.scss */
  .user-menu span {
    margin: 0 10px 0 0;
    color: #333333; }
    /* line 142, ../scss/_global.scss */
    .user-menu span.icon-heart {
      color: #c1464f; }

/* line 147, ../scss/_global.scss */
.search-form {
  margin: 20px 0 0 -10px;
  width: 105%;
  padding: 0 20px 0 0; }
  /* line 151, ../scss/_global.scss */
  .search-form .search-field {
    width: 100%;
    padding: 0 10px;
    height: 37px;
    background: #efefef;
    border-radius: 5px;
    border: none;
    margin: 0;
    box-shadow: none;
    -webkit-appearance: none; }
  /* line 162, ../scss/_global.scss */
  .search-form input[type="search"]:focus {
    background: #efefef;
    border-color: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 171, ../scss/_global.scss */
.page-content {
  padding: 0 0 90px; }

/* line 174, ../scss/_global.scss */
.content {
  margin-top: 30px; }

/* line 179, ../scss/_global.scss */
.thumb-block {
  background: #ffffff;
  height: 246px;
  margin-bottom: 10px;
  position: relative; }
  /* line 184, ../scss/_global.scss */
  .thumb-block .link-thumb {
    display: block;
    height: 100%;
    color: #333333; }
    /* line 188, ../scss/_global.scss */
    .thumb-block .link-thumb img {
      transform: scale(1);
      -ms-transform: scale(1);
      /* IE 9 */
      -moz-transform: scale(1);
      /* Firefox */
      -webkit-transform: scale(1);
      /* Safari and Chrome */
      -o-transform: scale(1);
      /* Opera */
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    /* line 197, ../scss/_global.scss */
    .thumb-block .link-thumb:hover img {
      transform: scale(0.98);
      -ms-transform: scale(0.98);
      /* IE 9 */
      -moz-transform: scale(0.98);
      /* Firefox */
      -webkit-transform: scale(0.98);
      /* Safari and Chrome */
      -o-transform: scale(0.98);
      /* Opera */ }
    /* line 204, ../scss/_global.scss */
    .thumb-block .link-thumb:hover .thumb:after {
      box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.7); }
  /* line 209, ../scss/_global.scss */
  .thumb-block .thumb {
    height: 180px;
    background: #333333;
    padding: 1px 0 0;
    overflow: hidden;
    position: relative; }
    /* line 215, ../scss/_global.scss */
    .thumb-block .thumb:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
  /* line 227, ../scss/_global.scss */
  .thumb-block figure {
    margin-top: -160px;
    margin-left: -52px;
    outline: #008cba solid 1px;
    text-align: center;
    width: 350px;
    height: 500px;
    line-height: 500px;
    vertical-align: middle; }
    /* line 236, ../scss/_global.scss */
    .thumb-block figure img {
      min-height: 200px; }
  /* line 240, ../scss/_global.scss */
  .thumb-block .info {
    padding: 15px 15px 0; }
  /* line 243, ../scss/_global.scss */
  .thumb-block h4 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  /* line 253, ../scss/_global.scss */
  .thumb-block .votes {
    margin-top: 7px; }
  /* line 256, ../scss/_global.scss */
  .thumb-block .fav {
    position: absolute;
    right: 12px;
    bottom: 8px;
    color: #C7D1CE; }
    /* line 261, ../scss/_global.scss */
    .thumb-block .fav.marked {
      color: #c1464f; }

/* line 268, ../scss/_global.scss */
.votes {
  *zoom: 1; }
  /* line 130, ../scss/foundation/components/_global.scss */
  .votes:before, .votes:after {
    content: " ";
    display: table; }
  /* line 131, ../scss/foundation/components/_global.scss */
  .votes:after {
    clear: both; }
  /* line 270, ../scss/_global.scss */
  .votes span {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    overflow: hidden;
    margin: 0 2px 0 0;
    background: #efefef; }
  /* line 280, ../scss/_global.scss */
  .votes.count-1 span {
    background: #20a5a1; }
  /* line 283, ../scss/_global.scss */
  .votes.count-1 span + span {
    background: #efefef; }
  /* line 288, ../scss/_global.scss */
  .votes.count-2 span {
    background: #20a5a1; }
  /* line 291, ../scss/_global.scss */
  .votes.count-2 span + span + span {
    background: #efefef; }
  /* line 296, ../scss/_global.scss */
  .votes.count-3 span {
    background: #20a5a1; }
  /* line 299, ../scss/_global.scss */
  .votes.count-3 span + span + span + span {
    background: #efefef; }
  /* line 304, ../scss/_global.scss */
  .votes.count-4 span {
    background: #20a5a1; }
  /* line 307, ../scss/_global.scss */
  .votes.count-4 span + span + span + span + span {
    background: #efefef; }
  /* line 312, ../scss/_global.scss */
  .votes.count-5 span {
    background: #20a5a1; }

/* line 318, ../scss/_global.scss */
.page-sidebar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 35px 20px 20px;
  width: 82.5%;
  background: #20a5a1;
  color: #ffffff; }
  /* line 325, ../scss/_global.scss */
  .page-sidebar h3 {
    margin: 0 0 15px;
    text-transform: uppercase; }
  /* line 329, ../scss/_global.scss */
  .page-sidebar a {
    color: #fff; }
    /* line 331, ../scss/_global.scss */
    .page-sidebar a:hover {
      color: #022B29; }

/* line 336, ../scss/_global.scss */
ul.side-menu {
  list-style: none;
  padding: 0;
  margin: 0; }
  /* line 340, ../scss/_global.scss */
  ul.side-menu li {
    padding-bottom: 15px; }
    /* line 342, ../scss/_global.scss */
    ul.side-menu li a {
      display: block; }
      /* line 344, ../scss/_global.scss */
      ul.side-menu li a.active {
        color: #333333; }

/* line 352, ../scss/_global.scss */
.page-footer {
  height: 90px;
  margin: -90px 0 0;
  border-bottom: #20a5a1 solid 5px; }
  /* line 356, ../scss/_global.scss */
  .page-footer .columns {
    height: 90px; }
  /* line 359, ../scss/_global.scss */
  .page-footer h6 {
    margin: 0;
    padding: 0 60px 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 47px;
    line-height: 47px;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 400;
    background: url("../images/f-logo.png") 100% 100% no-repeat; }
    /* line 371, ../scss/_global.scss */
    .page-footer h6 strong {
      font-weight: 800; }

/* line 378, ../scss/_global.scss */
.modal-on {
  overflow: hidden; }
  /* line 379, ../scss/_global.scss */
  .modal-on body {
    overflow: hidden; }

/* line 384, ../scss/_global.scss */
.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #ffffff;
  z-index: 999; }

/* line 395, ../scss/_global.scss */
.modal-photo .columns {
  height: 57px;
  margin-top: 25px;
  padding: 0 20px;
  border-bottom: #cccccc solid 1px;
  border-right: #cccccc solid 1px;
  overflow: hidden; }
/* line 403, ../scss/_global.scss */
.modal-photo .modal-logo {
  width: 90px;
  height: 82px;
  margin: 0;
  border: none;
  text-align: center;
  padding: 0; }
  /* line 410, ../scss/_global.scss */
  .modal-photo .modal-logo a {
    display: block;
    height: 100%;
    background: #333333;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in; }
    /* line 415, ../scss/_global.scss */
    .modal-photo .modal-logo a:hover {
      background: #20a5a1; }
  /* line 419, ../scss/_global.scss */
  .modal-photo .modal-logo img {
    margin: 21px 0 0; }
/* line 424, ../scss/_global.scss */
.modal-photo .modal-title {
  width: 330px;
  padding: 0;
  margin-left: 20px; }
  /* line 428, ../scss/_global.scss */
  .modal-photo .modal-title h3 {
    margin: 0 15px 0 0;
    overflow: hidden;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.0em;
    white-space: nowrap;
    text-overflow: ellipsis; }
  /* line 437, ../scss/_global.scss */
  .modal-photo .modal-title .modal-tags {
    margin: 3px 15px 0 0;
    overflow: hidden;
    height: 29px;
    font-size: 0.8125rem;
    line-height: 1.1em; }
    /* line 443, ../scss/_global.scss */
    .modal-photo .modal-title .modal-tags a {
      margin-right: 5px; }
/* line 448, ../scss/_global.scss */
.modal-photo .modal-vote {
  width: 190px;
  overflow: visible;
  *zoom: 1; }
  /* line 130, ../scss/foundation/components/_global.scss */
  .modal-photo .modal-vote:before, .modal-photo .modal-vote:after {
    content: " ";
    display: table; }
  /* line 131, ../scss/foundation/components/_global.scss */
  .modal-photo .modal-vote:after {
    clear: both; }
  /* line 452, ../scss/_global.scss */
  .modal-photo .modal-vote .select-vote {
    display: block;
    float: left;
    width: 64px; }
    /* line 456, ../scss/_global.scss */
    .modal-photo .modal-vote .select-vote .select {
      display: block;
      height: 0;
      overflow: hidden;
      -webkit-transition: height 0.2s ease-in;
      transition: height 0.2s ease-in; }
      /* line 461, ../scss/_global.scss */
      .modal-photo .modal-vote .select-vote .select a {
        display: block;
        height: 34px;
        background: #39B5AF;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 34px;
        vertical-align: middle;
        font-weight: 700;
        text-align: center;
        -webkit-transition: background 0.2s ease-in;
        transition: background 0.2s ease-in; }
        /* line 472, ../scss/_global.scss */
        .modal-photo .modal-vote .select-vote .select a:hover {
          background: #00726c; }
      /* line 476, ../scss/_global.scss */
      .modal-photo .modal-vote .select-vote .select a + a {
        background: #57C9C0; }
      /* line 477, ../scss/_global.scss */
      .modal-photo .modal-vote .select-vote .select a + a + a {
        background: #75D8CF; }
      /* line 478, ../scss/_global.scss */
      .modal-photo .modal-vote .select-vote .select a + a + a + a {
        background: #98E5DC; }
      /* line 479, ../scss/_global.scss */
      .modal-photo .modal-vote .select-vote .select a + a + a + a + a {
        background: #BEF4EC; }
    /* line 481, ../scss/_global.scss */
    .modal-photo .modal-vote .select-vote:hover .select {
      height: 170px; }
  /* line 485, ../scss/_global.scss */
  .modal-photo .modal-vote .btn-vote {
    display: block;
    height: 34px;
    background: #20a5a1;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 34px;
    vertical-align: middle;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in; }
    /* line 497, ../scss/_global.scss */
    .modal-photo .modal-vote .btn-vote:hover {
      background: #00726c; }
  /* line 501, ../scss/_global.scss */
  .modal-photo .modal-vote .votes-count {
    float: left;
    margin-left: 20px; }
    /* line 504, ../scss/_global.scss */
    .modal-photo .modal-vote .votes-count .votes {
      margin-bottom: 8px; }
    /* line 507, ../scss/_global.scss */
    .modal-photo .modal-vote .votes-count > span {
      color: #20a5a1;
      font-size: 0.875rem; }
/* line 513, ../scss/_global.scss */
.modal-photo .modal-buttons {
  width: 220px; }
  /* line 515, ../scss/_global.scss */
  .modal-photo .modal-buttons .btn-fav {
    width: 34px;
    padding: 0;
    background: #616161;
    text-align: center;
    margin-right: 5px; }
    /* line 521, ../scss/_global.scss */
    .modal-photo .modal-buttons .btn-fav.marked {
      background: #c1464f; }
      /* line 523, ../scss/_global.scss */
      .modal-photo .modal-buttons .btn-fav.marked:hover {
        background: #9b1720; }
    /* line 527, ../scss/_global.scss */
    .modal-photo .modal-buttons .btn-fav:hover {
      background: #333333; }
  /* line 532, ../scss/_global.scss */
  .modal-photo .modal-buttons .btn-download span {
    margin-right: 4px;
    display: inline-block;
    margin-top: -3px; }
/* line 539, ../scss/_global.scss */
.modal-photo .modal-navigation {
  width: 120px;
  *zoom: 1; }
  /* line 130, ../scss/foundation/components/_global.scss */
  .modal-photo .modal-navigation:before, .modal-photo .modal-navigation:after {
    content: " ";
    display: table; }
  /* line 131, ../scss/foundation/components/_global.scss */
  .modal-photo .modal-navigation:after {
    clear: both; }
  /* line 542, ../scss/_global.scss */
  .modal-photo .modal-navigation .btn-prev, .modal-photo .modal-navigation .btn-next {
    width: 34px;
    line-height: 30px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    border-radius: 100%;
    border: #333333 solid 1px;
    background: #ffffff;
    color: #333333;
    -webkit-transition: border 0.2s ease-in;
    transition: border 0.2s ease-in; }
    /* line 552, ../scss/_global.scss */
    .modal-photo .modal-navigation .btn-prev span, .modal-photo .modal-navigation .btn-next span {
      color: #333333;
      line-height: 30px;
      -webkit-transition: color 0.2s ease-in;
      transition: color 0.2s ease-in; }
    /* line 558, ../scss/_global.scss */
    .modal-photo .modal-navigation .btn-prev:hover, .modal-photo .modal-navigation .btn-next:hover {
      border-color: #20a5a1;
      color: #20a5a1; }
      /* line 561, ../scss/_global.scss */
      .modal-photo .modal-navigation .btn-prev:hover span, .modal-photo .modal-navigation .btn-next:hover span {
        color: #20a5a1; }
  /* line 566, ../scss/_global.scss */
  .modal-photo .modal-navigation .btn-prev {
    float: left; }
  /* line 569, ../scss/_global.scss */
  .modal-photo .modal-navigation .btn-next {
    float: right; }
/* line 573, ../scss/_global.scss */
.modal-photo .modal-close {
  border-right: none;
  width: 54px;
  padding-right: 0; }
  /* line 577, ../scss/_global.scss */
  .modal-photo .modal-close .btn-prev {
    float: left; }
  /* line 580, ../scss/_global.scss */
  .modal-photo .modal-close .btn-next {
    float: right; }
/* line 584, ../scss/_global.scss */
.modal-photo .modal-content {
  margin: 35px 0 0;
  text-align: center; }

/* line 591, ../scss/_global.scss */
.modal-edit {
  left: 50%;
  top: 10%;
  width: 500px;
  height: auto;
  margin-left: -250px; }
  /* line 597, ../scss/_global.scss */
  .modal-edit .modal-header {
    background: #333333;
    height: 50px;
    padding: 0 35px;
    color: #ffffff; }
    /* line 602, ../scss/_global.scss */
    .modal-edit .modal-header h3 {
      margin: 0;
      line-height: 50px;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    /* line 610, ../scss/_global.scss */
    .modal-edit .modal-header .btn-close {
      position: absolute;
      right: 10px;
      top: 8px;
      background: #20a5a1; }
      /* line 615, ../scss/_global.scss */
      .modal-edit .modal-header .btn-close:hover {
        background: #ffffff;
        border-color: #ffffff; }
        /* line 618, ../scss/_global.scss */
        .modal-edit .modal-header .btn-close:hover span {
          color: #20a5a1; }
  /* line 624, ../scss/_global.scss */
  .modal-edit .modal-content {
    padding: 35px; }

/* line 629, ../scss/_global.scss */
.controls {
  margin-top: -10px !important;
  margin-bottom: 20px !important; }
  /* line 633, ../scss/_global.scss */
  .controls .btn-plus span, .controls .btn-remove span, .controls .btn-download span {
    font-size: 0.875rem; }
  /* line 637, ../scss/_global.scss */
  .controls .btn-remove {
    background: #333333;
    margin-right: 10px; }
  /* line 641, ../scss/_global.scss */
  .controls .large-2-5 {
    width: 26.6%;
    padding-right: 15px; }
  /* line 645, ../scss/_global.scss */
  .controls .large-1-5 {
    width: 20%; }

/* line 651, ../scss/_global.scss */
.grid {
  width: 100%;
  border-top: #cccccc solid 1px; }
  /* line 654, ../scss/_global.scss */
  .grid td {
    border-bottom: #cccccc solid 1px; }
  /* line 657, ../scss/_global.scss */
  .grid .td-controls {
    width: 100px;
    text-align: right; }
  /* line 661, ../scss/_global.scss */
  .grid .td-count {
    width: 75px; }
  /* line 664, ../scss/_global.scss */
  .grid .td-eye {
    width: 50px; }
    /* line 666, ../scss/_global.scss */
    .grid .td-eye a {
      color: #cccccc; }
      /* line 668, ../scss/_global.scss */
      .grid .td-eye a.active {
        color: #20a5a1; }
    /* line 672, ../scss/_global.scss */
    .grid .td-eye span {
      font-size: 1.375rem; }
  /* line 677, ../scss/_global.scss */
  .grid .td-title a {
    margin-right: 5px; }
  /* line 681, ../scss/_global.scss */
  .grid .td-categories {
    width: 150px; }
  /* line 684, ../scss/_global.scss */
  .grid .td-img {
    width: 93px; }
    /* line 686, ../scss/_global.scss */
    .grid .td-img a {
      display: block;
      border: #ffffff solid 3px;
      max-height: 51px;
      overflow: hidden; }
      /* line 691, ../scss/_global.scss */
      .grid .td-img a img {
        display: block;
        width: 83px; }

/* line 698, ../scss/_global.scss */
.tags-list {
  padding: 8px 0px 15px;
  border-top: #cccccc solid 1px;
  margin: 5px 0px 0 !important; }

/* line 705, ../scss/_global.scss */
form {
  margin: 0; }

/* line 708, ../scss/_global.scss */
.field-wrapper {
  position: relative;
  margin: 5px 0 15px; }

/* line 712, ../scss/_global.scss */
label {
  font-weight: 400;
  color: #9C9C9C;
  font-size: 0.875rem; }

/* line 717, ../scss/_global.scss */
.text-field {
  height: 34px;
  line-height: 1.0em;
  border: #cccccc solid 1px;
  background: #ffffff;
  width: 100%;
  padding: 7px 15px; }
  /* line 724, ../scss/_global.scss */
  .text-field:focus {
    border-color: #ffffff;
    box-shadow: none;
    outline: #20a5a1 solid 1px; }

/* line 730, ../scss/_global.scss */
input[type="checkbox"] {
  vertical-align: middle;
  margin: 0 0.5em 2px 0; }

/* line 734, ../scss/_global.scss */
.selectbox {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  width: 100%;
  font-size: 1rem;
  text-align: left;
  vertical-align: middle;
  color: #333333;
  line-height: 28px;
  height: 28px;
  border: 1px solid #ffffff;
  padding: 3px 5px;
  box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  -moz-appearance: button;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background: #ffffff;
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, -moz-linear-gradient(top, white 0%, white 50%, white 100%);
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, white), color-stop(100%, white));
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, -webkit-linear-gradient(top, white 0%, white 50%, white 100%);
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, -o-linear-gradient(top, white 0%, white 50%, white 100%);
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, -ms-linear-gradient(top, white 0%, white 50%, white 100%);
  background: url("../images/icn-selectarrow.png") no-repeat 100% 50%, linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #ffffff 100%); }
  /* line 762, ../scss/_global.scss */
  .selectbox:focus {
    border-color: #20a5a1;
    box-shadow: none;
    outline: none; }

/* line 768, ../scss/_global.scss */
.select-wrapper {
  padding-right: 12px; }
  /* line 770, ../scss/_global.scss */
  .select-wrapper .selectbox {
    border-color: #cccccc; }
    /* line 772, ../scss/_global.scss */
    .select-wrapper .selectbox:focus {
      border-color: #20a5a1;
      box-shadow: none;
      outline: none; }

/* line 783, ../scss/_global.scss */
ul.side-menu.settings span {
  float: right;
  font-size: 1rem; }

/* line 789, ../scss/_global.scss */
.fav-list .thumb-block {
  height: 220px;
  outline: #efefef solid 3px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  /* line 793, ../scss/_global.scss */
  .fav-list .thumb-block .info {
    padding-top: 10px; }
  /* line 796, ../scss/_global.scss */
  .fav-list .thumb-block.selected {
    outline: #c1464f solid 3px;
    background: #c1464f; }
    /* line 799, ../scss/_global.scss */
    .fav-list .thumb-block.selected h4 {
      color: #ffffff; }

/* line 806, ../scss/_global.scss */
.fav-controls {
  line-height: 34px;
  vertical-align: middle;
  font-size: 0.875rem; }

/* line 811, ../scss/_global.scss */
.fav-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #333333;
  padding: 5px 10px;
  font-size: 0.8125rem; }
  /* line 820, ../scss/_global.scss */
  .fav-menu input[type="checkbox"] {
    margin: 0; }
  /* line 823, ../scss/_global.scss */
  .fav-menu a {
    position: absolute;
    right: 10px;
    top: 5px; }
