﻿<div class="large-9 columns content">
    <!--#include virtual="/partials/home-page/content.shtml" -->
    <div class="large-4 columns" ng-repeat="photo in photos" main-item-directive>
    </div>
</div>